.Cardcolor {
  background: #e2edfe !important;
}
.CardcolorOne {
  background-color: #c5f5d8 !important;
}
.CardcolorTwo {
  background-color: #ffded5 !important;
}
.CardcolorThree {
  background-color: #f5edfc !important;
}
.CardcolorFour {
  background-color: #faf3d5 !important;
}
