.WhyChooseUsContainer {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  background: none;
}



.CardContentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card {
  height: 70%;
}

.textSize {
  font-size: 1.2vw;
}


@media (max-width:786px) {

  .card {
    height: 90%;
  }

  .textSize {
    font-size: 1.3vh;
    line-height: 20px;
  }

}