.featuredContainer {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 10px;
  background: radial-gradient(circle, rgba(220, 167, 93, 0.555) 0%, rgba(255, 255, 255, 0.6924019607843137) 100%);
  /* clip-path: polygon(0 0, 100% 10%, 100% 85%, 0 100%); */
}

.featuredContainerOne {
  display: grid;
  place-items: center;
  background: linear-gradient(to right, rgba(255, 107, 77, 0.2), rgba(255, 107, 77, 0.208)), url(https://www.maunakearesort.com/images/hero/full/SHOT01_COUPLE_WALKING_SAND_0500.jpg);
  background-attachment: fixed;
  height: 45vh;
  width: 90vw;
  background-position: center;
  background-size: cover;

}

.textColourwithPadding {
  border-radius: 15px;
}

.textColourwithPadding>h4 {
  color: #ee2e24;
}

.featuredContainer:hover {
  /* transform: scale(1.2); */
}

@media (max-width:786px) {

  .featuredContainer {
    clip-path: inset(4% 4% 4% 4%);
    padding: 2rem 1rem !important;
    border-radius: 60px !important;
  }

  .textColourwithPadding {
    border-radius: 10px;
    padding: 0rem;
  }

}