.featuredContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: radial-gradient(circle, rgba(25, 200, 255, 0.5551470588235294) 0%, rgba(255, 255, 255, 0.6924019607843137) 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 85%, 0 100%);
}


.textColourwithPadding {
  border-radius: 15px;
  padding: 5rem;
}

.textColourwithPadding>h4 {
  color: #ee2e24;
}

.featuredContainer:hover {
  transform: scale(1.2);
}

@media (max-width:786px) {

  .featuredContainer {
    clip-path: inset(4% 4% 4% 4%);
    padding: 2rem 1rem !important;
    border-radius: 60px !important;
  }

  .textColourwithPadding {
    border-radius: 10px;
    padding: 0rem;
  }

}